<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>Senie Calalang</title>
    <link rel="icon" type="image/png" href="https://88valleys.github.io/portfolio/images/star_cute.png"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://88valleys.github.io/portfolio/stylesheets/site.css" rel="stylesheet" />
    <script src="https://88valleys.github.io/portfolio/javascripts/site.js"></script>
  </head>
  <body>
    <div class="banner-bg p-3">
  <div class="row justify-content-center banner">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
      <div class="d-flex flex-column flex-md-row align-items-center">
        <div class="text-content mr-lg-3">
          <h1 class="title-main"><span></span></h1>
          <br>
          <p>A junior <span>full-stack web developer</span> based in Tokyo, Japan. With a background in digital design and media, I specialise in <span>designing</span> and <span>coding</span> visually appealing and immersive user experiences. ✨</p>
          <a href="/files/SenieCalalang_CV.pdf" class="btn btn-outline-primary btn-lg" download="SenieCalalang_CV.pdf" style="margin-bottom: -17px;">Download CV</a>
          <div class="media-icon-container">
            <div class="row my-5">
              <div class="col-12">
                <div id="contact">
                  <div class="d-flex flex-wrap">
                    <div class="button-social d-flex flex-column justify-content-center align-items-center">
                      <i class="fa-solid fa-envelope"></i>
                      <a href="mailto:senie.c88@gmail.com" class="button-social-link"></a>
                    </div>
                    <div class="button-social d-flex flex-column justify-content-center align-items-center">
                      <i class="fa-brands fa-github"></i>
                      <a href="https://github.com/88valleys" target="_blank" class="button-social-link"></a>
                    </div>
                    <div class="button-social d-flex flex-column justify-content-center align-items-center">
                      <i class="fa-brands fa-linkedin"></i>
                      <a href="https://www.linkedin.com/in/senie-calalang/" target="_blank" class="button-social-link"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="d-flex justify-content-center justify-content-lg-end">
          <img src="https://88valleys.github.io/portfolio/images/senie-dp.png" alt="profile photo" class="avatar-large" />
        </div>
      </div>
    </div>
  </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3e6f3150af.js" crossorigin="anonymous"></script>
  </body>
</html>
