<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>Senie Calalang</title>
    <link rel="icon" type="image/png" href="../images/star_cute.png"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-57FDS7T2VC"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-57FDS7T2VC');
    </script>
    <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="../stylesheets/site.css" rel="stylesheet" />
    <script src="../javascripts/site.js"></script>
  </head>
  <body>
    <nav class="navbar">
  <div class="navbar-container">
    <!-- Translation to EN / JP -->
    <div class="language-switcher">
      <a id="lang-en" href="#" class="language-link">EN</a>&nbsp;&nbsp; |&nbsp;&nbsp;
      <a id="lang-jp" href="#" class="language-link">JP</a>
    </div>
    <!-- Section Links (Center in Desktop) -->
    <ul class="navbar-section-links">
      <li><a id="navbar_projects" href="#projects">Portfolio</a></li>
      <li><a id="navbar_about" href="#about">About</a></li>
      <li><a id="navbar_contact" href="#contact">Contact</a></li>
    </ul>
    <!-- Social Links (Center in Mobile) -->
    <ul class="navbar-social-links">
      <li>
        <a href="mailto:senie.m.calalang@gmail.com" class="social-icon">
          <i class="fa-solid fa-envelope"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/88valleys" target="_blank" class="social-icon">
          <i class="fa-brands fa-github"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/senie-calalang/" target="_blank" class="social-icon">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </li>
    </ul>
    <!-- Hamburger Menu (mobile only) -->
    <div class="navbar-hamburger">
      <span class="hamburger-icon" onclick="toggleMenu()">&#9776;</span>
      <div id="mobile-menu" class="mobile-menu">
        <span class="close-icon">&times;</span>
        <ul class="sections">
          <li><a id="mobile_menu_projects" href="#projects">Portfolio</a></li>
          <li><a id="mobile_menu_about" href="#about">About</a></li>
          <li><a id="mobile_menu_contact" href="#contact">Contact</a></li>
        </ul>
        <hr class="menu-divider">
        <ul class="navbar-social-links">
          <li>
            <a href="mailto:senie.m.calalang@gmail.com">
              <i class="fa-solid fa-envelope"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/88valleys" target="_blank">
              <i class="fa-brands fa-github"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/senie-calalang/" target="_blank">
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </li>
        </ul>
        <p class="mobile-credit" id="mobile-credit">Built with ❤︎ by Senie using <a href="https://middlemanapp.com/" target="_blank">Middleman</a>.</p>
      </div>
    </div>
  </div>
</nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3e6f3150af.js" crossorigin="anonymous"></script>
  </body>
</html>
