<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>Senie Calalang</title>
    <link rel="icon" type="image/png" href="../images/star_cute.png"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <link href="/source/stylesheets/site.css" rel="stylesheet" />
    <script src="/source/javascripts/site.js"></script>
  </head>
  <body>
    <div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="projects">
        <h2>Projects 👩🏻‍💻</h2>
        <div class="cards">
            <div class="card-product">
              <img src="/source/images/projects/TokyoSceneMockup.png" alt="project image" />
              <div class="card-product-infos w-100">
                <div class="d-flex justify-content-between align-items-center">
                  <h2>TokyoScene</h2>
                  <div class="card-links">
<a href="https://github.com/88valleys/TokyoScene" class="external-link" target="_blank">                      <i class="fa-brands fa-github"></i>
</a><a href="https://www.tokyoscene.me" class="external-link" target="_blank">                        <i class="fas fa-external-link-alt"></i>
</a>                  </div>
                </div>
                <p>A web-based event aggregator using Ruby on Rails, that utilises Spotify data to recommend live music events in Tokyo based on a user's favourite artists and genres.</p>
              </div>
            </div>
            <div class="card-product">
              <img src="/source/images/projects/USpeak4MeMockup.png" alt="project image" />
              <div class="card-product-infos w-100">
                <div class="d-flex justify-content-between align-items-center">
                  <h2>USpeak4Me</h2>
                  <div class="card-links">
<a href="https://github.com/88valleys/USpeak4Me" class="external-link" target="_blank">                      <i class="fa-brands fa-github"></i>
</a><a href="https://uspeak4me-c92c1d2ed740.herokuapp.com/" class="external-link" target="_blank">                        <i class="fas fa-external-link-alt"></i>
</a>                  </div>
                </div>
                <p>USpeak4Me is a marketplace app using Ruby on Rails, designed to connect foreign residents in Japan with professional interpreters.</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3e6f3150af.js" crossorigin="anonymous"></script>
  </body>
</html>
