<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>Senie Calalang</title>
    <link rel="icon" type="image/png" href="../images/star_cute.png"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="../stylesheets/site.css" rel="stylesheet" />
    <script src="../javascripts/site.js"></script>
  </head>
  <body>
    <section class="projects">
  <div class="row my-5">
    <div class="col-12">
      <div class="container">
        <div id="projects">
          <h2 class="subheading">Projects 👩🏻‍💻</h2>
          <div class="cards">
              <div class="card-product">
                <img src="../images/projects/TokyoSceneMockup.png" alt="project image" />
                <div class="card-product-infos w-100">
                  <div class="d-flex justify-content-between align-items-center">
                    <h2>TokyoScene</h2>
                    <div class="card-links">
<a href="https://github.com/88valleys/TokyoScene" class="external-link" target="_blank">                        <i class="fa-brands fa-github"></i>
</a><a href="https://www.tokyoscene.me" class="external-link" target="_blank">                          <i class="fas fa-external-link-alt"></i>
</a>                    </div>
                  </div>
                  <p>A web-based event aggregator using Ruby on Rails, that utilises Spotify data to recommend live music events in Tokyo based on a user's favourite artists and genres.</p>
                </div>
              </div>
              <div class="card-product">
                <img src="../images/projects/USpeak4MeMockup.png" alt="project image" />
                <div class="card-product-infos w-100">
                  <div class="d-flex justify-content-between align-items-center">
                    <h2>USpeak4Me</h2>
                    <div class="card-links">
<a href="https://github.com/88valleys/USpeak4Me" class="external-link" target="_blank">                        <i class="fa-brands fa-github"></i>
</a><a href="https://uspeak4me-c92c1d2ed740.herokuapp.com/" class="external-link" target="_blank">                          <i class="fas fa-external-link-alt"></i>
</a>                    </div>
                  </div>
                  <p>USpeak4Me is a marketplace app using Ruby on Rails, designed to connect foreign residents in Japan with professional interpreters.</p>
                </div>
              </div>
              <div class="card-product">
                <img src="../images/projects/soundmap.png" alt="project image" />
                <div class="card-product-infos w-100">
                  <div class="d-flex justify-content-between align-items-center">
                    <h2>Soundmap Tokyo</h2>
                    <div class="card-links">
<a href="https://github.com/88valleys/soundmap-tokyo" class="external-link" target="_blank">                        <i class="fa-brands fa-github"></i>
</a><a href="https://88valleys.github.io/soundmap-tokyo/" class="external-link" target="_blank">                          <i class="fas fa-external-link-alt"></i>
</a>                    </div>
                  </div>
                  <p>Built using React, SoundMap Tokyo is a web application that catalogs live music venues across Tokyo, organising them by the genres they feature, available equipment, nearest station, and venue website.</p>
                </div>
              </div>
              <div class="card-product">
                <img src="../images/projects/wealthwise.png" alt="project image" />
                <div class="card-product-infos w-100">
                  <div class="d-flex justify-content-between align-items-center">
                    <h2>WealthWise</h2>
                    <div class="card-links">
<a href="https://www.figma.com/proto/gBst8ala7g5z7Y1Dzzpawm/Weathwise-Ed?page-id=0%3A1&amp;node-id=54-3222&amp;t=Hx7LySmxOPGUFwLX-0&amp;scaling=scale-down&amp;content-scaling=fixed&amp;starting-point-node-id=54%3A3222" class="external-link" target="_blank">                        <i class="fa-brands fa-github"></i>
</a><a href="https://drive.google.com/file/d/1vaxgdzVGTfiPEMwBwX_nZF4JXlRhP8Cu/view?usp=sharing" class="external-link" target="_blank">                          <i class="fas fa-external-link-alt"></i>
</a>                    </div>
                  </div>
                  <p>Developed during my time at Japan Product Camp 2024, WealthWise is a fintech product concept that gamifies financial learning for young professionals in Japan. As part of a team, I contributed to the UI design, collaborating in Figma, conducting user research, and developing WealthWise's product strategy.</p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3e6f3150af.js" crossorigin="anonymous"></script>
  </body>
</html>
