<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>Senie Calalang</title>
    <link rel="icon" type="image/png" href="../images/star_cute.png"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-57FDS7T2VC"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-57FDS7T2VC');
    </script>
    <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="../stylesheets/site.css" rel="stylesheet" />
    <script src="../javascripts/site.js"></script>
  </head>
  <body>
    <section class="projects">
  <div class="row my-5">
    <div class="col-12">
      <div class="container">
        <div id="projects">
          <h2 class="subheading" id="projects-title">Projects 👩🏻‍💻</h2>
          <div class="cards">
              <div class="card-product">
                <img src="../images/projects/TokyoSceneMockup.png" alt="project image" class="project-image" />
                <div class="card-product-infos w-100">
                  <div class="d-flex justify-content-between align-items-center">
                    <h2>TokyoScene</h2>
                    <div class="card-links">
<a href="https://www.youtube.com/watch?v=D2I2us_6M2c&amp;t=1493s" class="external-link" target="_blank">                          <i class="fa-brands fa-youtube"></i>
</a><a href="https://github.com/88valleys/TokyoScene" class="external-link" target="_blank">                          <i class="fa-brands fa-github"></i>
</a><a href="https://www.tokyoscene.me" class="external-link" target="_blank">                          <i class="fa-solid fa-link"></i>
</a>                    </div>
                  </div>
                  <div class="card-skills">
                        <span class="btn btn-secondary" style="--bs-btn-padding-y: 0rem; --bs-btn-padding-x: 0.3rem; --bs-btn-font-size: .75rem;">Ruby on Rails</span>
                        <span class="btn btn-secondary" style="--bs-btn-padding-y: 0rem; --bs-btn-padding-x: 0.3rem; --bs-btn-font-size: .75rem;">JavaScript</span>
                        <span class="btn btn-secondary" style="--bs-btn-padding-y: 0rem; --bs-btn-padding-x: 0.3rem; --bs-btn-font-size: .75rem;">HTML/CSS</span>
                        <span class="btn btn-secondary" style="--bs-btn-padding-y: 0rem; --bs-btn-padding-x: 0.3rem; --bs-btn-font-size: .75rem;">Spotify API</span>
                        <span class="btn btn-secondary" style="--bs-btn-padding-y: 0rem; --bs-btn-padding-x: 0.3rem; --bs-btn-font-size: .75rem;">OpenStreet API</span>
                  </div>
                  <p class="project-description" data-description-en="A web-based event aggregator using Ruby on Rails, that utilises Spotify data to recommend live music events in Tokyo based on a user's favourite artists and genres." 
data-description-jp="TokyoSceneは、Ruby on Railsで構築されたイベント集約アプリです。Spotifyのデータを活用し、ユーザーのお気に入りのアーティストやジャンルに基づいて、東京のライブ音楽イベントをおすすめします。">A web-based event aggregator using Ruby on Rails, that utilises Spotify data to recommend live music events in Tokyo based on a user's favourite artists and genres.</p>
                </div>
              </div>
              <div class="card-product">
                <img src="../images/projects/USpeak4MeMockup.png" alt="project image" class="project-image" />
                <div class="card-product-infos w-100">
                  <div class="d-flex justify-content-between align-items-center">
                    <h2>USpeak4Me</h2>
                    <div class="card-links">
<a href="https://github.com/88valleys/USpeak4Me" class="external-link" target="_blank">                          <i class="fa-brands fa-github"></i>
</a><a href="https://uspeak4me-c92c1d2ed740.herokuapp.com/" class="external-link" target="_blank">                          <i class="fa-solid fa-link"></i>
</a>                    </div>
                  </div>
                  <div class="card-skills">
                        <span class="btn btn-secondary" style="--bs-btn-padding-y: 0rem; --bs-btn-padding-x: 0.3rem; --bs-btn-font-size: .75rem;">Ruby on Rails</span>
                        <span class="btn btn-secondary" style="--bs-btn-padding-y: 0rem; --bs-btn-padding-x: 0.3rem; --bs-btn-font-size: .75rem;">JavaScript</span>
                        <span class="btn btn-secondary" style="--bs-btn-padding-y: 0rem; --bs-btn-padding-x: 0.3rem; --bs-btn-font-size: .75rem;">HTML/CSS</span>
                  </div>
                  <p class="project-description" data-description-en="USpeak4Me is a marketplace app using Ruby on Rails, designed to connect foreign residents in Japan with professional interpreters." 
data-description-jp="USpeak4Meは、Ruby on Railsで開発されたマーケットプレイスアプリです。日本に住む外国人とプロの通訳者をつなぐことを目的としています。">USpeak4Me is a marketplace app using Ruby on Rails, designed to connect foreign residents in Japan with professional interpreters.</p>
                </div>
              </div>
              <div class="card-product">
                <img src="../images/projects/soundmap.png" alt="project image" class="project-image" />
                <div class="card-product-infos w-100">
                  <div class="d-flex justify-content-between align-items-center">
                    <h2>Soundmap Tokyo</h2>
                    <div class="card-links">
<a href="https://github.com/88valleys/soundmap-tokyo" class="external-link" target="_blank">                          <i class="fa-brands fa-github"></i>
</a><a href="https://88valleys.github.io/soundmap-tokyo/" class="external-link" target="_blank">                          <i class="fa-solid fa-link"></i>
</a>                    </div>
                  </div>
                  <div class="card-skills">
                        <span class="btn btn-secondary" style="--bs-btn-padding-y: 0rem; --bs-btn-padding-x: 0.3rem; --bs-btn-font-size: .75rem;">React</span>
                        <span class="btn btn-secondary" style="--bs-btn-padding-y: 0rem; --bs-btn-padding-x: 0.3rem; --bs-btn-font-size: .75rem;">JavaScript</span>
                        <span class="btn btn-secondary" style="--bs-btn-padding-y: 0rem; --bs-btn-padding-x: 0.3rem; --bs-btn-font-size: .75rem;">HTML/CSS</span>
                  </div>
                  <p class="project-description" data-description-en="Built using React, SoundMap Tokyo is a web application that catalogs live music venues across Tokyo, organising them by the genres they feature, available equipment, nearest station, and venue website." 
data-description-jp="Reactで構築されたSoundMap Tokyoは、東京のライブ音楽会場をカタログ化し、ジャンル、設備、最寄り駅、公式サイトなどで整理するウェブアプリケーションです。">Built using React, SoundMap Tokyo is a web application that catalogs live music venues across Tokyo, organising them by the genres they feature, available equipment, nearest station, and venue website.</p>
                </div>
              </div>
              <div class="card-product">
                <img src="../images/projects/wealthwise.png" alt="project image" class="project-image" />
                <div class="card-product-infos w-100">
                  <div class="d-flex justify-content-between align-items-center">
                    <h2>WealthWise</h2>
                    <div class="card-links">
<a href="https://www.figma.com/proto/gBst8ala7g5z7Y1Dzzpawm/Weathwise-Ed?page-id=0%3A1&amp;node-id=54-3222&amp;t=Hx7LySmxOPGUFwLX-0&amp;scaling=scale-down&amp;content-scaling=fixed&amp;starting-point-node-id=54%3A3222" class="external-link" target="_blank">                          <i class="fa-brands fa-figma"></i>
</a><a href="https://drive.google.com/file/d/1vaxgdzVGTfiPEMwBwX_nZF4JXlRhP8Cu/view?usp=sharing" class="external-link" target="_blank">                          <i class="fa-solid fa-link"></i>
</a>                    </div>
                  </div>
                  <div class="card-skills">
                        <span class="btn btn-secondary" style="--bs-btn-padding-y: 0rem; --bs-btn-padding-x: 0.3rem; --bs-btn-font-size: .75rem;">Figma</span>
                  </div>
                  <p class="project-description" data-description-en="Developed during my time at Japan Product Camp 2024, WealthWise is a fintech product concept that gamifies financial learning for young professionals in Japan. As part of a team, I contributed to the UI design, collaborating in Figma, conducting user research, and developing WealthWise's product strategy." 
data-description-jp="WealthWiseは、2024年のJapan Product Campで開発された、若手プロフェッショナル向けのゲーミフィケーション型金融学習フィンテック製品のコンセプトです。チームの一員として、FigmaでのUIデザイン、ユーザーリサーチ、製品戦略の開発に貢献しました。">Developed during my time at Japan Product Camp 2024, WealthWise is a fintech product concept that gamifies financial learning for young professionals in Japan. As part of a team, I contributed to the UI design, collaborating in Figma, conducting user research, and developing WealthWise's product strategy.</p>
                </div>
              </div>
              <div class="card-product">
                <img src="../images/projects/CrepeGifterMockup.png" alt="project image" class="project-image" />
                <div class="card-product-infos w-100">
                  <div class="d-flex justify-content-between align-items-center">
                    <h2>CrepeGifter</h2>
                    <div class="card-links">
<a href="https://www.figma.com/proto/RsuqN5SUMLWM1sKE3O0MCc/CrepeGifter?page-id=0%3A1&amp;node-id=13-28&amp;viewport=1383%2C632%2C0.39&amp;t=m2mbZlXBIRyi7gq2-1&amp;scaling=scale-down&amp;content-scaling=fixed&amp;starting-point-node-id=13%3A28" class="external-link" target="_blank">                          <i class="fa-brands fa-figma"></i>
</a>                    </div>
                  </div>
                  <div class="card-skills">
                        <span class="btn btn-secondary" style="--bs-btn-padding-y: 0rem; --bs-btn-padding-x: 0.3rem; --bs-btn-font-size: .75rem;">Photoshop</span>
                        <span class="btn btn-secondary" style="--bs-btn-padding-y: 0rem; --bs-btn-padding-x: 0.3rem; --bs-btn-font-size: .75rem;">Illustrator</span>
                        <span class="btn btn-secondary" style="--bs-btn-padding-y: 0rem; --bs-btn-padding-x: 0.3rem; --bs-btn-font-size: .75rem;">Figma</span>
                  </div>
                  <p class="project-description" data-description-en="A mobile app concept designed to let users customise cute crepes using drag-and-drop toppings, then order them in real life and/or send them as gifts. Inspired by cute culture, the app focuses on creative food expression for a young audience." 
data-description-jp="CrepeGifterは、ユーザーが可愛いクレープをカスタマイズして実際に注文し、ギフトとして友達に贈ることができるモバイルアプリのコンセプトです。日本のカワイイ文化に影響を受けたこのアプリは、若い世代の自己表現とフードデザインの楽しさを融合しています。">A mobile app concept designed to let users customise cute crepes using drag-and-drop toppings, then order them in real life and/or send them as gifts. Inspired by cute culture, the app focuses on creative food expression for a young audience.</p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3e6f3150af.js" crossorigin="anonymous"></script>
  </body>
</html>
