<div class="banner-bg p-3">
  <div class="row justify-content-center banner">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
      <div class="d-flex flex-column flex-md-row align-items-center">
        <div class="text-content mr-lg-3">
          <h1 class="title-main"><span id="banner-title"></span></h1>
          <br>
          <p id="banner-description">
            A <span>UI/UX designer</span> based in Tokyo, Japan. With a foundation in <span>web development</span> and <span>digital media</span>, I create intuitive, visually engaging, and user-focused product experiences. ✨
          </p>
          <%= link_to 'Download CV', '/files/Senie_Calalang_CV-EN.pdf', id: 'download_cv', class: 'btn btn-outline-primary btn-lg', download: 'Senie_Calalang_CV-EN.pdf', style: 'margin-bottom: -17px;' %>        </div>
        <br>
        <div class="d-flex justify-content-center justify-content-lg-end">
          <%= image_tag 'senie-dp.png', alt: "profile photo", class: 'avatar-large' %>
        </div>
      </div>
    </div>
    <div class="scroll-icon"></div>
  </div>
</div>