<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <div class="d-flex flex-column flex-md-row align-items-center">
      <div class="text-content mr-lg-3">
        <h1 class="title-main">Hello, I'm <span></span></h1>
        <br>
        <p>A junior full-stack web developer based in Tokyo, Japan. With a background in web design, I thrive on designing visually appealing and immersive user experiences. ✨</p>
      </div>
      <br>
      <div class="d-flex justify-content-center justify-content-lg-end">
        <%= image_tag 'senie-H&HC.jpg', alt: "profile photo", class: 'avatar-large' %>
      </div>
    </div>
    <!-- <div style="justify-content: space-between">
      <a href="#" class="btn btn-primary mt-3">About</a>
      <a href="#" class="btn btn-primary mt-3" >Work</a>
      <a href="#" class="btn btn-primary mt-3">Contact me!</a>
    </div> -->
  </div>
</div>