<div class="banner-bg p-3">
  <div class="row justify-content-center banner">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
      <div class="d-flex flex-column flex-md-row align-items-center">
        <div class="text-content mr-lg-3">
          <h1 class="title-main"><span id="banner-title"></span></h1>
          <br>
          <p id="banner-description">A junior <span>full-stack web developer</span> based in Tokyo, Japan. With a background in digital design and media, I specialise in <span>designing</span> and <span>coding</span> visually appealing and immersive user experiences. ✨</p>
          <%= link_to 'Download CV', '/files/SenieCalalang-CV.pdf', id: 'download_cv', class: 'btn btn-outline-primary btn-lg', download: 'SenieCalalang_CV.pdf', style: 'margin-bottom: -17px;' %>
        </div>
        <br>
        <div class="d-flex justify-content-center justify-content-lg-end">
          <%= image_tag 'senie-dp.png', alt: "profile photo", class: 'avatar-large' %>
        </div>
      </div>
    </div>
    <div class="scroll-icon"></div>
  </div>
</div>