<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <%= image_tag 'senie-H&HC.jpg', alt: "profile photo", class: 'avatar' %>
    <h1 class="title-main">Hello, I'm Senie</h1>
    <p><span id="typewriter" data-typed-items="Designer, Developer, Freelancer, Photographer">Designer</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
    <div style="justify-content: space-between">
      <a href="#" class="btn btn-primary mt-3">About</a>
      <a href="#" class="btn btn-primary mt-3" >Work</a>
      <a href="#" class="btn btn-primary mt-3">Contact me!</a>
    </div>
  </div>
</div>