<nav class="navbar">
  <div class="navbar-container">
    <!-- Section Links (Center in Desktop) -->
    <ul class="navbar-section-links">
      <li><a href="#projects">Projects</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
    <!-- Social Links (Center in Mobile) -->
    <ul class="navbar-social-links">
      <li>
        <a href="mailto:senie.c88@gmail.com">
          <i class="fa-solid fa-envelope"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/88valleys" target="_blank">
          <i class="fa-brands fa-github"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/senie-calalang/" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </li>
    </ul>
    <!-- Hamburger Menu (Mobile Only) -->
    <div class="navbar-hamburger">
      <span class="hamburger-icon" onclick="toggleMenu()">&#9776;</span>
      <div id="mobile-menu" class="mobile-menu">
        <span class="close-icon">&times;</span>
        <ul>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
