<nav class="navbar">
  <div class="navbar-container">
    <!-- Section Links (Center in Desktop) -->
    <ul class="navbar-section-links">
      <li><a id="navbar_projects" href="#projects">Projects</a></li>
      <li><a id="navbar_about" href="#about">About</a></li>
      <li><a id="navbar_contact" href="#contact">Contact</a></li>
    </ul>
    <!-- Social Links (Center in Mobile) -->
    <ul class="navbar-social-links">
      <li>
        <a href="mailto:senie.c88@gmail.com" class="social-icon">
          <i class="fa-solid fa-envelope"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/88valleys" target="_blank" class="social-icon">
          <i class="fa-brands fa-github"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/senie-calalang/" target="_blank" class="social-icon">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </li>
    </ul>
    <!-- Hamburger Menu (Mobile Only) -->
    <div class="navbar-hamburger">
      <span class="hamburger-icon" onclick="toggleMenu()">&#9776;</span>
      <div id="mobile-menu" class="mobile-menu">
        <span class="close-icon">&times;</span>
        <ul class="sections">
          <li><a id="mobile_menu_projects" href="#projects">Projects</a></li>
          <li><a id="mobile_menu_about" href="#about">About</a></li>
          <li><a id="mobile_menu_contact" href="#contact">Contact</a></li>
        </ul>
        <hr class="menu-divider">
        <ul class="navbar-social-links">
          <li>
            <a href="mailto:senie.c88@gmail.com">
              <i class="fa-solid fa-envelope"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/88valleys" target="_blank">
              <i class="fa-brands fa-github"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/senie-calalang/" target="_blank">
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
