// Layout-related styles
.custom-margin {
  margin: 0 auto;

  @media (min-width: 992px) {
    margin-left: 30px;
  }
}

.about {
  padding-bottom: 50px;
}

.about-pic {
  max-width: 280px;
  height: auto;
  border-radius: 5%;
}

// Link styles
.highlight-link {
  color: $primary-color;
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease;

  &:hover {
    color: $primary-hover-color;
    text-decoration: underline;
    font-weight: bold;
  }
}
