.custom-margin {
  margin: 0 auto; 
  }
  
  @media (min-width: 992px) { 
    .custom-margin {
      margin-left: 30px;
    }
  }
  
  .about-pic {
    max-width: 280px; 
    height: auto;
    border-radius: 5%; 
  }

  .about {
    padding-bottom: 50px;
  }