.footer {
    background-color: #df4456a5; 
    color: white; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 40px; 
    width: 100vw; 
    margin-left: -50vw; 
    left: 50%; 
    position: relative; 
    font-weight: 300;
  }
  
  .footer p {
    font-size: 1rem;
  }
  .footer a {
    color: white; 
    font-weight: bold;
  }
  
  .footer a:hover {
    text-decoration: underline; 
  }